 #App {
  text-align: center;
} 

  body{
  background: lightyellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.btn{

  background:red;
  margin: 20px;
}

.add-btn{
  background: rgb(238, 229, 152);
  width: 40px;
  height: 40px;
  font-size: x-large;
  font-weight: 300;
  color: black;
  border-color: brown;
 
} 
.app-title{
  
  display : flex;
  text-align: center;
  color:brown;
  font-size: 70px;
}
.container{
  border: 5px solid pink;
  border-radius: 25px;
  background-color: lightsalmon;
  width: 500px;

} 
.txt{
  background: rgb(225, 232, 238);
  width: 250px;
  height: 20px;
  margin:30px;
} 

.it{
  color: brown;
  font-size: small;
} 
